<form method="post" action="{{ path('app_magasin_delete', {'idm': magasin.idm}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ magasin.idm) }}">
    <button class="btn">Delete</button>
</form>
