{% extends 'respo.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>

                <td>{{ categorie.nom }}</td>
                <td>
                    <button class="btn btn-outline-primary" type="submit" onclick="window.location.href = '{{ path('app_categorie_show', {'id': categorie.id}) }}';" role="button"> Show </button>
                    <button class="btn btn-outline-primary" type="submit" onclick="window.location.href = '{{ path('app_categorie_edit', {'id': categorie.id}) }}';" role="button"> Edit </button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-outline-primary" type="submit" onclick="window.location.href = '{{ path('app_categorie_new') }}';" role="button"> Create New </button>

{% endblock %}
