

{% block title %}Contrat index{% endblock %}

{% block body %}
    <h1>Contrat </h1>
    <script src="{{ asset('responsable/assets/js/jquery.min.js') }}"></script>
    <input type="text" class="form-control" placeholder="Search…" aria-label="Search"id="search">
    <table class="table"  id="tableac">
        <thead>
        <tr>

            <th>Nom</th>
            <th>Datecontrat</th>
            <th>Type</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contrat in destination %}
            <script>
                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#tableac tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found == 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script>
            <tr>

                <td>{{ contrat.nom }}</td>
                <td>{{ contrat.datecontrat ? contrat.datecontrat|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.type }}</td>

            </tr>
            {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
