<form method="post" action="{{ path('app_personne_delete', {'id': personne.id}) }}" onsubmit="return confirm('Voulez vous supprimer cet utilisateur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personne.id) }}">
    <button class="btn btn-outline-light"><img src="{{ asset('back/assets/images/samples/supprimer.png') }}"></button>
</form>
